<form class="form-group" {{action 'save' on='submit'}}>
{{input
id="eventTitle"
placeholder="event title"
value=event.eventTitle
required="required"}}

{{input
id="eventType"
placeholder="event type"
value=event.eventType
required="required"}}

{{input type="date"
id="eventDate"
placeholder="event date"
value=event.eventDate
required="required"}}

<button type="submit" class="btn btn-primary">
  Save
</button>

<button class="btn btn-default" {{action "cancel"}}>
  Cancel
</button>
</form>
