<form class="form-group" {{action 'save' on='submit'}}>
{{input
id="eventTitle"
placeholder="event title"
value=event.eventTitle}}

{{input
id="eventType"
placeholder="event type"
value=event.eventType}}

{{input type="date"
id="eventDate"
placeholder="event date"
value=event.eventDate}}

<button type="submit" class="btn btn-primary">
  Create
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
</form>
